.Meaning {
  color: black;
  font-weight: 500;
}

.Meaning h3 {
  font-size: 25px;
}

.Meaning p {
  opacity: 0.8;
  font-size: 16px;
}

.Meaning .examples {
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
}
